!!! 5
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-1.6.1.min.js')
    script(src='/javascripts/jquery.cookie.js')
    link(rel='stylesheet', href='/stylesheets/screen.css')
  body!= body
