!!! 5
html
  head
    title= title
    script(src='http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js')
    script(src='/javascripts/jquery.cookie.js')
    link(rel='stylesheet', href='/stylesheets/screen.css')
  body!= body
