html,body,* {
  font-family: sans-serif;
}
#config {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#status {
  display: none;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: black;
  padding: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-bottom-right-radius: 3px;
  background-color: #ff5;
}
